# Exercise 1 : Basic Math Operations

We can perform addition on two numbers using the + operator. The following example shows the addition of 5 and 2:

1-Here, we are using the addition operator, + in the code:

In [28]:
5 + 2
#You should get the following output:7

7

We can perform addition on two numbers using the + operator. The following example shows the subtraction of 5 and 2.

2-Using the subtraction operator in the code, we can perform subtraction on two numbers:

In [29]:
5 - 2
#You should get the following output:3

3

The following example shows the multiplication of 5 by 2.

3-Using the * multiplication operator to multiply the two numbers is done as follows:

In [30]:
5 * 2
 #You should get the following output:10

10

4-Now, use the / division operator and observe the output:

In [31]:
5 / 2 
#You should get the following output:2.5

2.5

When dividing two numbers, Python will always return a decimal.

5-Now the same division can be done using the // operator, which is called integer division. Observe the change in the output:

In [32]:
5 // 2 
#You should get the following output: 2

2

6-Now, using the ** exponential operator, we can perform exponentiation

In [33]:
5 ** 2 
#You should get the following output:25

25

7-Finally, use the modulus operator in the code and observe the output:

In [34]:
5 % 2 # The modulus operator is performed using the % operator, as shown in step 7. It returns the remainder when the first number is divided by the second.
#You should get the following output:1

1

# Order of Operations

Parentheses are meaningful in Python. When it comes to computation, Python always computes what is in parentheses first.

The Python language follows the same order of operations as in the math world. You may remember the acronym PEMDAS: parentheses first, exponentiation second, multiplication/division third, and addition/subtraction fourth.

Consider the expression: 5 + 2 * -3

The first thing to note is that the negative sign and subtraction sign are the same in Python. Let's have a look at the following example:

1-Python will first multiply 2 and -3, and then add 5:

In [35]:
5 + 2 * -3 
#You should get the following output:-1

-1

2-If parentheses are placed around the 5 and 2, we obtain a different result:

In [36]:
(5 + 2) * -3
#You should get the following output:-21

-21

# Exercise : 1 Getting to Know the Order of Operations
The goal of this exercise is to work with the primary math operations in Python and understand their order of execution. This exercise can be performed on the Python terminal:

1-Subtract 5 to the 3rd power, which is 53, from 100 and divide the result by 5:

In [37]:
(100 - 5 ** 3) / 5
#You should get  the following output : -5.0

-5.0

2-Add 6 to the remainder of 15 divided 4:

In [38]:
6 + 15 % 4
#You should get the following output:9

9

3-Add 2 to the 2nd power, which is 22, to the integer division of 24 and 4:

In [39]:
2 ** 2 + 24 // 4
#You should get the following output:10

10

# Number Types: Integers and Floats
Let's address the difference between an integer and a float. Consider 8 and 8.0. We know that 8 and 8.0 are equivalent mathematically. They both represent the same number, but they are different types. 8 is an integer, and 8.0 is a decimal or float.

An integer in Python is classified as a type of int, short for integer. Integers include all positive and negative whole numbers, including 0. Examples of integers include 3, -2, 47, and 10000.

Floats, by contrast, are Python types represented as decimals. All rational numbers expressed as fractions can be represented as floats. Samples of floats include 3.0, -2.0, 47.45, and 200.001.

Note: We are only covering text and numeric types in this chapter. Other types will be discussed in subsequent chapters.

Python types can be obtained explicitly using the type() keyword.

# Exercise 2: Integer and Float Types
The goal of this exercise is to determine types and then change those types in our Python code. This can be performed in the Jupyter Notebook:

1-Begin by explicitly determining the type of 6 using the following code:

In [40]:
type(6)
#You should get the following output:int

int

2-Now, enter type(6.0) in the next cell of your notebook:

In [41]:
type(6.0)
#You should get the following output:float

float

3-Now, add 5 to 3.14. Infer the type of their sum:

In [42]:
5 + 3.14
#You should get the following output:8.14

8.14

4-It's clear from the output that combining an int and a float gives us a float. This makes sense. If Python returned 8, we would lose information. When possible, Python converts types to preserve information.

We can, however, change types by using the type keyword.

5-Now, convert 7.999999999 to an int

In [43]:
int(7.999999999)
#You should get the following output:7

7

6-Convert 6 to a float:

In [44]:
float(6)
#You should get the following output:6.0

6.0

# Complex Number Types

Python includes complex numbers as an official type. Complex numbers arise when taking the square roots of negative numbers. There is no real number whose square root is -9, so we say that it equals 3i. Another example of a complex number is 2i + 3.

Note: Python uses j instead of i

Let's take a look at the following code snippet to learn how to work with complex number types.

Divide 2 + 3j by 1 - 5j, enclosing both operations within parentheses:

In [45]:
(2 + 3j) / (1 - 5j)
#You should get the following output:-0.5+0.5j

(-0.5+0.5j)

# Errors in Python
In programming, errors are not to be feared; errors are to be welcomed. Errors are common not only for beginners but for all developers. We will learn skills to handle errors in Chapter 4, Extending Python, Files, Errors, and Graphs. For now, if you get an error, just go back and try again. Python errors in Jupyter Notebooks won't crash your computer or cause any serious problems but they will just stop running the Python code.

# Variables
In Python, variables are memory slots that can store elements of any type. The name variable is meant to be suggestive, as the idea behind a variable is that the value can vary throughout a given program.

# Exercise 3:Assigning Variables
The goal of this exercise is to assign values to variables. Variables can be assigned any value, as you will see in this exercise. This exercise can be performed in the Jupyter Notebook:

1-Set x as equal to the number 2:

In [46]:
x = 2
#In the first step, we assigned the value 2 to the x variable.

In [47]:
#Add 1 to the variable x:
x + 1
#You should get the following output:3

3

In [48]:
#3-Change x to 3.0 and add 1 to x:
x = 3.0
x + 1
#You should get the following output:4.0
#In this step, we change the value of x to 3.0, and as in the previous 2 steps, we will be adding 1 to the x variable.

4.0

# Changing Types
In some languages, it's not possible for a variable to change types. This means that if the y variable is an integer, then y must always be an integer. Python, however, is dynamically typed, as we saw in Exercise 3, Assigning Variables and as illustrated in the following example:

In [49]:
#1-y starts as an integer:
y = 10 
#Check the type of y:
type(y)

int

In [50]:
#y becomes a float:
y=y-10.0
#Check the type of y:
type(y)

float

In the next topic, we will be looking at reassigning variables in terms of themselves.

# Reassigning Variables in Terms of Themselves
It's common in programming to add 1 to a variable; for instance, x = x + 1. The shorthand for this is to use += as shown in the following example:

x += 1
So, if x was 6, x is now 7. The += operator adds the number on the right to the variable and sets the variable equal to the new number.

In [51]:
x=6
x+=1
x

7

# Assigning Values to Variables
#In this activity, you will assign a number to the x variable, increment the number and perform additional operations.
#Use the following steps to complete this activity. By completing this activity, you will learn how to perform multiple mathematical operations using Python. This activity can be performed in the Jupyter Notebook.
#The steps are as follows:
#1-First, set 14 to the x variable.
#2-Now, add 1 to x.
#3-Finally, divide x by 5 and square it.
#You should get the following output:9.0

In [52]:
 x=14 
((x+1)/5)**2

9.0

# Exercise 4: Variable Names
It's recommended to use variable names that make sense to readers. Instead of using x, the variable may be income or age. Although x is shorter, someone else reading the code might not understand what x is referring to. Try to use variable names that are indicative of the meaning.

There are some restrictions when naming variables. For instance, variables cannot start with numbers, most special characters, keywords, nor built-in types. Variables also can't contain spaces between letters.

According to Python conventions, it's best to use lowercase letters and to avoid special characters altogether as they will often cause errors.

Python keywords are reserved in the language. They have special meanings. We will go over most of these keywords later.

Running the following two lines always shows a current list of Python keywords:

import keyword

print (keyword.kwlist)

In [53]:
import keyword

print (keyword.kwlist)
#Note: If you use any of the preceding keywords as variable names, Python will throw an error

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

The goal of this exercise is to learn standard ways to name variables by considering good and bad practices. This exercise can be performed in Jupyter:
Create a variable called 1st_number and assign it a value of 1:
1st_number = 1

In [54]:
1st_number = 1
#You'll get the error  because you cannot begin a variable with a number

SyntaxError: invalid syntax (<ipython-input-54-6773142bc382>, line 1)

In [55]:
#2-Now, let's try using letters to begin a variable:
first_number = 1

In [56]:
#3-Now, use special characters in a variable name, as in the following code:
my_$ = 1000.00
#You get the error  because you cannot include a variable with a special character.

SyntaxError: invalid syntax (<ipython-input-56-5a583ac33dc1>, line 2)

# Multiple Variables
Most programs contain multiple variables. The same rules apply as when working with single variables. Let's practice working with multiple variables in the following exercise.

# Exercise 5: Multiple Variables in Python
In this exercise, you will perform mathematical operations using more than one variable. This exercise can be performed in the Jupyter Notebook:

In [57]:
#1-Assign 5 to x and 2 to y:
x = 5
y = 2
#2-Add x to x and subtract y to the second power:
x + x - y ** 2
#You should get the following output:6

6

Python has a lot of cool shortcuts, and multiple variable assignment is one of them. Here's the Pythonic way of declaring two variables. Pythonic is a term used to describe code written in the optimum readable format. This will be covered in Chapter 7, Becoming Pythonic.

In [58]:
#3-Assign 8 to x and 5 to y in one line:
x, y = 8, 5
#4-Find the integer division of x and y:
x // y
#You should get the following output:1

1

In this exercise, we practiced working with multiple variables, and we even learned the Pythonic way to assign values to multiple variables in one line. It's rare to only work with one variable in practice.

# Comments
Comments are extra blocks of code that do not run. They are meant to clarify code for readers. In Python, any text following the # symbol on a single line is a comment. Comments followed by the # symbol may be inline or above the text.

Note: Consistent use of comments will make reviewing and debugging code much easier. It's strongly advisable to practice this from here on out.

# Exercise 6: Comments in Python
n this exercise, you will learn two different ways to display comments in Python. This exercise can be performed in the Jupyter Notebook:

Write a comment that states This is a comment:
# This is a comment
When you execute this cell, nothing should happen.

Set the pi variable as equal to 3.14. Add a comment above the line stating what you did:
# Set the variable pi equal to 3.14
pi = 3.14
Adding the comment clarifies what follows.

Now, try setting the pi variable as equal to 3.14 again, but add the comment stating what you did on the same line:
pi = 3.14    # Set the variable pi equal to 3.14
Although it's less common to provide comments on the same line of code, it's acceptable and often appropriate.

You should get the following output from the Jupyter Notebook:

In [59]:
# this is comment
# Set the variable pi equal to 3.14
pi = 3.14
pi = 3.14 # Set the variable pi equal to 3.14

In this exercise, we have learned how to write comments in Python. As a developer who will be communicating with others, writing comments is essential to make your code legible to others.

# Docstrings
Docstrings, short for document strings, state what a given document, such as a program, a function, or a class, actually does. The primary difference in syntax between a docstring and a comment is that docstrings are intended to be written over multiple lines, which can be accomplished with triple quotes. They also introduce a given document, so they are placed at the top.

Here is an example of a docstring:

In [60]:
"""
This document will explore why comments are particularly useful when writing and reading code.
"""
#When we execute this cell, nothing really happens. Docstrings, like comments, are designed as information for developers reading and writing code; they have nothing to do with the output of code.

'\nThis document will explore why comments are particularly useful when writing and reading code.\n'

# Strings: Concatenation, Methods, and input()
We have learned how to express numbers, operations, and variables. What about words? In Python, anything that goes between 'single' or "double" quotes is considered a string. Strings are commonly used to express words, but they have many other uses, including displaying information to the user and retrieving information from a user.

Examples include 'hello', "hello", 'HELLoo00', '12345', and 'fun_characters: !@ #$%^&*('.

In this section, we will gain proficiency with strings by examining string methods, string concatenation, and useful built-in functions including print() and len() with a wide range of examples.

# String Syntax
Although strings may use single or double quotes, a given string must be internally consistent. That is, if a string starts with a single quote, it must end with a single quote. The same is true of double quotes.

Let's take a look at valid and invalid strings in Exercise 7, String Error Syntax.

Python uses the backslash character, \, called an escape sequence in strings, to allow for the insertion of any type of quote inside of strings. The character that follows the backslash in an escape sequence may be interpreted as mentioned in Python's official documentation, which follows. Of particular note is \n, which is used to create a new line
Note: For more information on strings, you can refer to https://docs.python.org/2.0/ref/strings.html

# String Operations and Concatenation
The multiplication and addition operators work with strings as well. In particular, the + operator combines two strings into one and is referred to as string concatenation. The * operator, for multiplication, repeats a string. In the following exercise, we will be looking at string concatenation in our string samples.

# Exercise 7:String Error Syntax
The goal of this exercise is to learn appropriate string syntax:

In [61]:
#1-Enter a valid string:
bookstore = 'City Lights'

In [62]:
#Now enter an invalid string:
bookstore = 'City Lights''
#You should get the Error

SyntaxError: EOL while scanning string literal (<ipython-input-62-4be145a2ea97>, line 2)

# Escape Sequences with Quotes
Here is how an escape sequence works with quotes. The backslash overrides the single quote as an end quote and allows it to be interpreted as a string character:
bookstore = 'Moe\'s'

# Multi-Line Strings
Short strings always display nicely. But, what about multi-line strings? It can be cumbersome to define a paragraph variable that includes a string over multiple lines. In some IDEs, the string may run off the screen, and it may be difficult to read. In addition, it might be advantageous to have line breaks at specific points for the user.

Note: Line breaks will not work inside single or double quotes.

When strings need to span multiple lines, Python provides triple quotes, using single or double quotation marks, as a nice option.

Here is an example of triple quotes (''') used to write a multi-line string:

In [63]:
vacation_note = '''
During our vacation to San Francisco, we waited in a long line by 
Powell St. Station to take the cable car. Tap dancers performed on 
wooden boards. By the time our cable car arrived, we started looking 
online for a good place to eat. We're heading to North Beach.
'''
#Note: Multi-line strings take on the same syntax as a docstring. The difference is that a docstring appears at the beginning of a document, and a multi-line string is defined within the program.

# The print() Function
The print() function is used to display information to the user, or to the developer. It's one of Python's most widely used built-in functions.

In [64]:
print (vacation_note)

During our vacation to San Francisco, we waited in a long line by
Powell St. Station to take the cable car. Tap dancers performed on
wooden boards. By the time our cable car arrived, we started looking
online for a good place to eat. We're heading to North Beach.

# Exercise 8:Displaying Strings
In this exercise, you will learn different ways to display strings:

In [66]:
#Define a greeting variable with the value 'Hello'. Display the greeting using the print() function:
greeting = 'Hello'
print(greeting)
#You should get the following output: Hello

Hello

# String Operations and Concatenation
The multiplication and addition operators work with strings as well. In particular, the + operator combines two strings into one and is referred to as string concatenation. The * operator, for multiplication, repeats a string. In the following exercise, we will be looking at string concatenation in our string samples.

# Exercise 9: String Concatenation
In this exercise, you will learn how to combine strings using string concatenation:

In [68]:
#Combine the spanish_greeting used in Exercise 8, Displaying Strings, with using the + operator and display the results:
spanish_greeting = 'Hola'
print(spanish_greeting + 'Senor.')
#You should get the following output:HolaSenor
#Notice that there are no spaces between greeting and name. If we want spaces between strings, we need to explicitly add them.

HolaSenor.

In [69]:
#Now, combine spanish_greeting with 'Senor.' using the + operator, but this time, include a space:
spanish_greeting = 'Hola '
print(spanish_greeting + 'Senor.')
#You should get the following output:Hola Senor.

Hola Senor.

In [71]:
#Display the greeting 5 times using the * multiplication operator:

greeting = 'Hello'
print(greeting * 5)
#You should get the following output:HelloHelloHelloHelloHello
#By completing this exercise successfully, you have combined strings using string concatenation using the + and * operators.

HelloHelloHelloHelloHello

# String Interpolation
When writing strings, you may want to include variables in the output. String interpolation includes the variable names as placeholders within the string. There are two standard methods for achieving string interpolation: comma separators and format.

# Comma Separators
Variables may be interpolated into strings using commas to separate clauses. It's similar to the + operator, except it adds spacing for you.

Let's have a look at an example here, where we add Ciao within a print statement:# Comma Separators

In [73]:
italian_greeting = 'Ciao'
print('Should we greet people with', italian_greeting, 'in North Beach?')
#You should get the following output:Should we greet people with Ciao in North Beach?

Should we greet people with Ciao in North Beach?

# Format
With format, as with commas, Python types, int, float, and so on, are converted into strings upon execution. The format is accessed using brackets and dot notation:

In [75]:
owner = 'Lawrence Ferlinghetti'
age = 100
print('The founder of City Lights Bookstore, {}, is now {} years old.'.format(owner, age))
#You should get the following output:The founder of City Lights Bookstore, Lawrence Ferlinghetti, is now 100 years old.

The founder of City Lights Bookstore, Lawrence Ferlinghetti, is now 100 years old.

The format works as follows. First, define your variables. Next, in the given string, use {} in place of each variable. At the end of the string, add a dot (.) followed by the format keyword. Then, in parentheses, list each variable in the desired order of appearance. In the next section, we will look at the built-in string functions available to a Python developer.

# The len() Function
There are many built-in functions that are particularly useful for strings. One such function is len(), which is short for length. The len() function determines the number of characters in a given string.

Note that the len() function will also count any blank spaces in a given string.

We'll use the arabic_greeting variable used in Exercise 8, Displaying Strings:

In [80]:
len("arabic_greetings")
#You should get the following output:16

16

Note: When entering variables in Jupyter Notebooks, you can use tab completion. After you type in a letter or two, you can press the Tab key. Python then displays all valid continuations that will complete your expression. If done correctly, you should see your variable listed. Then you can highlight the variable and press Enter. Using tab completion will limit errors.

# Exercise 10: String Methods
All Python types, including strings, have their own methods. These methods generally provide shortcuts for implementing useful tasks. Methods in Python, as in many other languages, are accessed via dot notation.

Let's use a new variable, name, to access a variety of methods. We can see all methods by pressing the Tab button after the variable name and a dot.

In [81]:
#In this exercise, you will learn how to implement string methods.
#Set a new variable, called name, to any name that you like:
name = 'Corey'
#Note: Access string methods by pressing the Tab button after the variable name and dot (.), as demonstrated in the following screenshot.
#You can scroll down the list to obtain all available string methods.

In [82]:
#Now, convert the name into lowercase letters using the lower() function:
name.lower()
#You should get the following output:'corey'

'corey'

In [84]:
#Now, capitalize the name using the capitalize() function:
name.capitalize()
#You should get the following output:'Corey'

'Corey'

In [86]:
#Convert the name into uppercase letters using upper():
name.upper()
#You should get the following output:'COREY'

'COREY'

In [87]:
#Finally, count the number of o instances in the word 'Corey':
name.count('o')
#You should get the following output:1

1

# Casting
It's common for numbers to be expressed as strings when dealing with input and output. Note that '5' and 5 are different types. We can easily convert between numbers and strings using the appropriate type keywords. In the following exercise, we are going to be using types and casting to understand the concepts much better.

# Exercise 11: Types and Casting
In this exercise, you will learn how types and casting work together:

In [88]:
#Determine the type of '5':
type('5')
#You should get the following output:str

str

In [89]:
#Now, add '5' and '7':
'5' + '7'
#You should get the following output:'57'

'57'

The answer is not 12 because, here, 5 and 7 are of type string, not of type int. Recall that the + operator concatenates strings. If we want to add 5 and 7, we must convert them first.

In [91]:
#Convert the '5' string to an int using the code mentioned in the following code snippet:
int('5')
#You should get the following output:5
#Now 5 is a number, so it can be combined with other numbers via standard mathematical operations.

5

In [94]:
#Add '5' and '7' by converting them to int first:
int('5') + int('7')
#You should get the following output:12

12

# The input() Function
The input() function is a built-in function that allows user input. It's a little different than what we have seen so far. Let's see how it works in action.

# Exercise 12: The input() Function
In this exercise, you will utilize the input() function to obtain information from the user:

In [96]:
# Choose a question to ask
print('What is your name?')
#You should get the following output:What is your name?

What is your name?

In [100]:
#Now, set a variable that will be equal to the input() function, as mentioned in the following code snippet:
name = input()
#You should get the following output:input any name  and enter

arsalan

In [102]:
#Finally, select an appropriate output:
print('Hello, ' + name + '.')
#You should get the following output:Hello, arsalan.

Hello, arsalan.

Note: input() can be finicky in Jupyter Notebooks. If an error arises when entering the code, try restarting the kernel. Restarting the kernel will erase the current memory and start each cell afresh. This is advisable if the notebook stalls.

# String Indexing and Slicing
Indexing and slicing are crucial parts of programming. In data analysis, indexing and slicing DataFrames is essential to keep track of rows and columns, something we will practice in Chapter 10, Data Analytics with pandas and NumPy. The mechanics behind indexing and slicing DataFrames is the same as indexing and slicing strings, which we will learn in this chapter.

Indexing
The characters of Python strings exist in specific locations; in other words, their order counts. The index is a numerical representation of where each character is located. The first character is at index 0, the second character is at index 1; the third character is at index 2, and so on.

Note: We always start at 0 when indexing.

Consider the following string:

destination = 'San Francisco'
'S' is in the 0th index, 'a' is in the 1st index, 'n' is in the 2nd index, and so on. The characters of each index are accessed using bracket notation as follows:

destination[0]
You should get the following output:

'S'
To access the data from the first index, enter the following:

destination[1]
You should get the following output:

'a'
To access the data from the second index, enter the following:

destination[2]
You should get the following output:

'n'
The character value for San Francisco and the corresponding index count :

: Diagrammatic representation of the character values and the corresponding positive index values 

Now, try adding a -1 as the index value and observe the output:

destination[-1]
You should get the following output:

'o'
Note: Negative numbers start at the end of the string. (It makes sense to start with -1 since -0 is the same as 0.)

To access the data from the rear of San Francisco, we use the negative sign in this case -2:

destination[-2]
You should get the following output:

'c'
The following figure 1.16 mentions the characters sco from the word Francisco, and the corresponding index count:

Figure 1.16 Index value for the negative values for San Francisco 

Here is one more example:

bridge = 'Golden Gate'
bridge[6]
You should get the following output:

' '
You may be wondering whether you did something wrong because no letter is displayed. On the contrary, it's perfectly fine to have an empty string. In fact, an empty string is one of the most common strings in programming.

In [104]:
destination = 'San Francisco'

In [105]:
destination[0]

'S'

In [106]:
destination[1]

'a'

In [107]:
destination[2]

'n'

In [108]:
destination[-1]

'o'

In [109]:
destination[-2]

'c'

In [110]:
bridge = 'Golden Gate'
bridge[6]

' '

# Slicing
A slice is a subset of a string or other element. A slice could be the whole element or one character, but it's more commonly a group of adjoining characters.

Let's say we want to access the fifth through eleventh letters of a string. So, we start at index 4 and end at index 10, as was explained in the previous Indexing section. When slicing, the colon symbol (:) is inserted between indices, like so: [4:10].

There is one caveat. The lower bound of a slice is always included, but the upper bound is not. So, in the preceding example, if we want to include the 10th index, we must use [4:11].

Let's now have a look at the following example for slicing.

Retrieve the fifth through eleventh letters of San Francisco, which we used in the previous Indexing section:

destination[4:11]
You should get the following output:

'Francis'
Retrieve the first three letters of destination:

destination[0:3]
You should get the following output:

'San'
There is a shortcut for getting the first n letters of a string. If the first numerical character is omitted, Python will start at the 0th index.

Now, to retrieve the first eight letters of destination using the shortcut, use the following code:

destination[:8]
You should get the following output:

'San Fran'
Finally, to retrieve the last three letters of destination, use this code:

destination[-3:]
You should get the following output:

'sco'
The negative sign, -, means that we start at the third-to-last letter, and the colon means that we go to the end.

# Strings and Their Methods
We started with string syntax, before moving on to a variety of ways to concatenate strings. We looked at useful built-in functions including len() and examined a sample of string methods. Next, we casted numbers as strings and vice versa.

The input() function is used to access user input. This really extends what you can do. Responding to user feedback is a core element of programming that we will continue to develop. Finally, we closed with two powerful tools that developers frequently use: indexing and slicing.

There is a great deal more to learn about strings. You will encounter additional problems and methods throughout this course. This introductory chapter is meant to equip you with the basic skills needed to handle strings going forward.

Next, we will learn how to branch programs using conditionals and Booleans.

In [111]:
destination[4:11]

'Francis'

In [112]:
destination[0:3]

'San'

In [113]:
destination[:8]

'San Fran'

In [114]:
destination[-3:]

'sco'

# Booleans and Conditionals
Booleans, named after George Boole, take the values of True or False. Although the idea behind Booleans is rather simple, they make programming immensely more powerful.

When writing programs, for instance, it's useful to consider multiple cases. If we prompt the user for information, we may want to respond differently depending upon the user's answer.

For instance, if the user gives a rating of 0 or 1, we may give a different response than a rating of 9 or 10. The keyword here is if.

Programming based upon multiple cases is referred to as branching. Each branch is represented by a different conditional. Conditionals often start with an 'if' clause, followed by 'else' clauses. The choice of a branch is determined by Booleans, depending on whether the given conditions are True or False.

Booleans
In Python, a Boolean class object is represented by the bool keyword and has a value of True or False.

Note: Boolean values must be capitalized in Python.

# Exercise 13: Boolean Variables
In this short exercise, you will use, assign, and check the type of Boolean variables:

Open a new Jupyter Notebook.
Now, use a Boolean to classify someone as being over 18 using the following code snippet:
over_18 = True
type(over_18)
You should get the following output:

bool
The output is satisfied, and the type is mentioned as a Boolean, that is, bool.

Use a Boolean to classify someone as not being over 21:
over_21 = False
type(over_21)
You should get the following output:

bool
In this short, quick exercise, you have learned about the bool type, one of Python's most important types.

In [115]:
over_18 = True
type(over_18)

bool

In [116]:
over_21 = False
type(over_21)

bool

# Logical Operators and Comparison Operators
Booleans may be combined with the and, or, and not logical operators.

For instance, consider the following propositions:

A = True

B = True

Y = False

Z = False

Not simply negates the value, as follows:

not A = False

not Z = True.

And is only true if both propositions are true. Otherwise, it is false:

A and B = True

A and Y = False

Y and Z = False

Or is true if either proposition is true. Otherwise, it is false:

A or B = True

A or Y = True

Y or Z = False

Now let's use them in the following practice example.

Determine whether the following conditions are True or False given that  over_18 = True and over_21 = False:

over_18 and over_21

over_18 or over_21

not over_18

not over_21 or (over_21 or over_18)

Let's put this into code and first assign True and False to over_18 and over_21:

over_18, over_21 = True, False

Let's assume the individual is over_18 and over_21:

over_18 and over_21

You should get the following output:
False

Let's assume the individual is over_18 or over_21:

over_18 or over_21

You should get the following output:
True

Let's assume the individual is not over_18:

not over_18

You should get the following output:
False

Let's assume the individual is not over_21 or (over_21 or over_18):
not over_21 or (over_21 or over_18)

You should get the following output:
True

In the next section, we will learn about the comparison operators that go along with Booleans.

Comparison Operators

Python objects may be compared using a variety of symbols that evaluate to Booleans.

Comparison table with its corresponding symbols 

Note: The = and == symbols are often confused. The = symbol is an assignment symbol. So x = 3 assigns the integer 3 to the x variable. The == symbol makes a comparison. Thus x == 3 checks to see whether x is equivalent to 3. The result of x == 3 will be True or False.

In [117]:
over_18, over_21 = True, False

In [118]:
over_18 and over_21

False

In [119]:
over_18 or over_21

True

In [120]:
not over_18

False

# Comparison Operators
In this exercise, you will practice using comparison operators. Let's start with some basic mathematical examples:

Now, set age as equal to 20 and include a comparison operator to check whether age is less than 13:

age = 20

age < 13

You should get the following output:
False

Using the following code snippet, you can check whether age is greater than or equal to 20 and less than or equal to 21:

age >= 20 and age <= 21

You should get the following output:
True

Now check whether age is equivalent to 21:
age != 21

You should get the following output:
True

Now, check whether age is equivalent to 19:

age ==  19

You should get the following output:
False

The double equals sign, or the equivalent operator, ==, is very important in Python. It allows us to determine whether two objects are equal. We can now address the question of whether 6 and 6.0 are the same in Python.

Is 6 equivalent to 6.0 in Python? Let's find out:

6 == 6.0

You should get the following output:
True

This may come as a bit of a surprise. 6 and 6.0 are different types, but they are equivalent. Why would that be?


Since 6 and 6.0 are equivalent mathematically, it makes sense that they would be equivalent in Python, even though the types are different. Consider whether 6 should be equivalent to 42/7. The mathematical answer is yes. Python often conforms to mathematical truths, even with integer division. We can conclude that it's possible for different types to have equivalent objects.

Now find out whether 6 is equivalent to the '6' string:

6 == '6'

You should get the following output:
False

Here, we emphasize that different types usually do not have equivalent objects. In general, it's a good idea to cast objects as the same type before testing for equivalence.

Next, let's find out whether someone is in their 20's or 30's:

(age >= 20 and age < 30) or (age >= 30 and age < 40)

You should get the following output:
True

Parentheses are not necessary when there is only one possible interpretation. When using more than two conditions, parentheses are generally a good idea. Note that parentheses are always permitted. The following is another approach:

(20 <= age < 30) or (30 <= age < 40)

You should get the following output:
True

Although the parentheses in the preceding code line are not strictly required, they make the code more readable. A good rule of thumb is to use parentheses for clarity.

By completing this exercise, you have practiced using different comparison operators.

In [121]:
age = 20
age < 13

False

In [122]:
age >= 20 and age <= 21

True

In [123]:
age != 21

True

In [124]:
age ==  19

False

In [125]:
6 == 6.0

True

In [126]:
6 == '6'

False

In [127]:
(age >= 20 and age < 30) or (age >= 30 and age < 40)

True

In [128]:
(20 <= age < 30) or (30 <= age < 40)

True